/*Reset style*/
*{
    margin: 0;
    padding: 0;
}

/*Definerer fonts*/
@font-face {
    font-family: Poppin Light;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppin Black;
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}
/*Indsætter fonts*/
h1{
    font-family: Poppin Black;
}
body{
    font-family: Poppin Light;
}

/*Navigationsbar*/
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{ /*Højde over navbar*/
    height: 8rem;
}
nav a{ 
    height: 100%;
    padding: 0px 70px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{ /*Grå skygge når hover*/
    color: #6c6c6c;
}
nav a:active { /*Sort når klik*/
    color: black;
}
nav li:first-child{ /*Låser logo i venstre side*/
    margin-right: auto;
}



/*Scroll til top button*/
#scrollBtn{ /*Styling*/
    display: none; /*Skjuler som standard*/
    position: fixed; /*Låser samme sted*/
    left: 50rem;
    top: 1rem;
    border: none;
    background-color: #153024;
    color: white;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
}
#scrollBtn:hover { /*Skifter farve når hover*/
    background-color: grey;
}

/*Chatbot*/
.chatbot{ /*Styling og placering*/
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    background: beige;/*skiftes*/
    border-radius: 15px;
    overflow: hidden;
}
.header{ /*Styling af header i chatbox*/
    background: #154024;
    padding: 16px 0;
    text-align: center;
}
.header h2{
    color: #ffffff;
    font-size: 1.4rem;
}
.chatbot .chatbox{
    height: 510px;
    overflow-y: auto;
    padding: 15px 20px 70px;
}

/* Footer Styling */
footer {
    background-color: #153024;
    color: #FFFFFF;
    padding: 3rem 0;
}
.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/*Styler links*/
.footer-links {
    display: flex;
    gap: 2rem;
}
.footer-links a {
    text-decoration: none;
    color: #FFFFFF;
}
.footer-links a:hover {
    color: #6c6c6c;
}

/* Horisontal linje */
.footer-line {
    width: 80%; 
    margin: 2rem auto;
    border-top: 2px solid #0A937A;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 3rem;
}
.footer-contact a {
    text-decoration: none;
    color: #FFFFFF;
}
.footer-contact a:hover {
    color: #6c6c6c;
}
.footer-social {
    display: flex;
    gap: 1.5rem;
}
.footer-social img { /*Størrelse på sociale medier links*/
    width: 57px;
    height: 50px;
}


/* Styling produkt-slider*/
.produkter {
    position: relative;
    overflow: hidden;
    padding: 20px;
    
}

/*Styling af h1 i produkt-slider*/
.produkt-kategori {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

/*Styling af produkt-container*/
.produkt-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
   
}

.produkt-container::-webkit-scrollbar{
    display: none;
}


.produkt-kort {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
/* Styling af produkt billede*/
.produkt-billede {
    position: relative;
    width: 15rem;
    height: 20rem;
    overflow: hidden;
}

/*Overordnede container med produkt-info*/
.produkt-info {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

/*Styling af overskrift h6*/
.produkt-brand {
    text-transform: uppercase;
    font-weight: bold;
}

/* Styling af produkt-information*/
.produkt-beskrivelse {
    width: 100%;
    height: 20px;
    line-height: 20px;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0  30px 0;
}

/*Styling af pris*/
.produkt-pris {
    font-weight: 900;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

/* Styling webshop-btn*/
.webshop-btn {
    text-decoration: none;
    color: white;
    background-color: #153024;
    border: 2px solid;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}



/* Styling pre- og nxt-btn*/
.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    cursor: pointer;
    z-index: 9;
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}